<!--<p id="notice"><%= notice %></p>-->

<body class="fondo2">
  <h1>Lista de Pasajeros</h1>

  <table>
    <thead>
      <tr>
        <th>Rut</th>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Teléfono</th>
        <th>Fecha de nacimiento</th>
        <th>Nacionalidad</th>
        <th>Descripción</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @passengers.each do |passenger| %>
        <tr>
          <td><%= passenger.rut %></td>
          <td><%= passenger.nombre %></td>
          <td><%= passenger.correo %></td>
          <td><%= passenger.telefono %></td>
          <td><%= passenger.f_nacimiento %></td>
          <td><%= passenger.nacionalidad %></td>
          <td><%= passenger.descripcion %></td>
          <td><%= link_to 'Mostar', passenger %></td>
          <td><%= link_to 'Editar', edit_passenger_path(passenger) %></td>
          <td><%= link_to 'Borrar', passenger, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Nuevo Pasajero', new_passenger_path %>
</body>
